<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.cizezsy.yourdrawiguess">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WelcomeGuideActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.GameActivity"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".ui.activity.RoomListActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>